body {
  padding-top: 54px;
  display: flex;
  flex-direction: column;
  font-family: urw-din, sans-serif;
  font-weight: 400;
  font-style: normal; }

.bg-dark {
  background: linear-gradient(90deg, #151515, #404040, #151515); }

#logoText {
  font-family: poppins, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white; }

#navContact {
  float: right; }
  #navContact h2 {
    color: white; }
  #navContact h3 {
    color: #007bff; }

#numArrow {
  float: left;
  margin-top: 10px;
  margin-right: 10px; }

#myCarousel {
  margin-bottom: 40px; }

.bodyText, .bodyText--initial, .bodyText--final {
  padding-left: 5%;
  padding-right: 5%; }
  .bodyText .col-md h2, .bodyText--initial .col-md h2, .bodyText--final .col-md h2 {
    color: #ff4500; }
  .bodyText--initial {
    margin-top: 10px; }
  .bodyText--final {
    margin-bottom: 10px; }

.divImg {
  margin-top: 20px;
  margin-bottom: 20px; }

#footContact {
  margin: auto; }

footer {
  margin-top: 30px; }

#contactLink {
  color: white;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 3%;
  padding-top: 3%; }
